		html,body{
			height:100%;
			font-family: 'Lato', sans-serif!important;
		}
		h1{
			font-family: 'Lato', sans-serif!important;
			font-weight: 300;
		}
		h2{
			font-family: 'Lato', sans-serif!important;
			font-weight: 300;
		}
		#front {
			height:95%;
			background: url("front.jpg") fixed no-repeat center top ; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			position: relative;
			top:5%;
		}
		#header{
			padding:20px;
			padding-top:20px;
			padding-left:50px;
			padding-right:50px;
			position: fixed;
			z-index: 2;
			background:white;
			width:94%;
			height:5%;
			border-bottom:1px solid #D1D1D1;
		}
	#nav{
			padding-top:3px;
			float:right;
			list-style: none;
			margin-right:20px;
		}
		#nav li{
			display:inline-block;
			padding-left:8px;
			padding-top:7px;
			padding-right:8px;
		}
		#nav li a{
			color:rgb(56, 58, 62);
			font-size:1.3em;
		}
		#front .lead{
			color:white;
			font-size:2em;
			line-height: 2em;
		}
		.icon-play-circle{
			cursor: pointer;
			position:absolute; top:41%; left:44%; font-size:12em; color:rgb(255,255,255);
			opacity: 0.75;
			transition:opacity 0.7s;

		}
		.icon-play-circle:hover {
			opacity: 1;
		}

		.screenshotContainer {
			background: url("bluryTree.jpg") fixed no-repeat center top ; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			padding-bottom:0;
		}

		.freeContainer {
			background: url("signup.jpg") fixed no-repeat center top ; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			min-height:230px;
			text-shadow: 1px 1px 1px #000;
			color:white;
		}

		.somethingContainer {
			background: url("bark.jpg") fixed no-repeat center top ; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

		.team {
			background: url("team.jpg") fixed no-repeat center top ; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			min-height:500px;
		}

		.section {
			padding-top:50px; padding-bottom:50px;
		}

		.gray{
			color:gray;
		}

		.ilink{
			color:gray;
		}
		.ilink:hover{
			color:black;
			text-decoration: none;
		}
